@model ContactModel
@{
    ViewData["Title"] = "Criar Contato";
}

<div class="text-center">
    <h1 class="display-4">Criar Contato</h1>
</div>

<form asp-controller="Contato" asp-action="Criar" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nome</label>
        <input asp-for="Name" class="form-control" placeholder="Insira o nome">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">E-mail</label>
        <input asp-for="Email" class="form-control" placeholder="Insira o e-mail">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Celular</label>
        <input asp-for="Phone" class="form-control" placeholder="Insira o celular">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Criar</button>
    <a class="btn btn-outline-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}