@model ContactModel
@{
    ViewData["Title"] = "Apagar Contato";
}

<div class="text-center">
    <h3>
        Realmente deseja apagar esse contato? (@Model.Name)
    </h3>
</div>

<div class="text-center">
<a class="btn btn-outline-danger" asp-controller="Contato" asp-action="Erase" asp-route-id="@Model.Id" role="button">APAGAR</a>
    <a class="btn btn-outline-secondary" asp-controller="Contato" asp-action="Index" role="button">CANCELAR</a>
</div>
